{% macro pagination_widget(pagination, endpoint, fragment='') %}
    <ul class="pagination">
        <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
            <a href="{% if pagination.has_prev %}{{ url_for(endpoint,
                page = pagination.page - 1, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                &laquo;
            </a>
        </li>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p == pagination.page %}
                <li class="active">
                    <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
                </li>
                {% endif %}
            {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li{% if not pagination.has_next %} class="disabled"{% endif %}>
            <a href="{% if pagination.has_next %}{{ url_for(endpoint,
                page = pagination.page + 1, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                &raquo;
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro tree_menu_widget(subs) %}
    {% for menu in subs %}
        {% if menu.subs|length ==0 %}
           <li>
               <a href="{{ url_for('main.articleTypes', id=menu.item.id) }}"> {{ menu.item.name }} </a>
           </li>
        {% else %}
            <li class="dropdown-submenu">
                <a tabindex="-1" href="{{ url_for('main.articleTypes', id=menu.item.id) }}"> {{ menu.item.name }} </a>
                <ul class="dropdown-menu">
                    {{ tree_menu_widget(menu.subs) }}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}